{{ template "header" . }}
<h1>ユーザ登録</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font><p>
{{ end }}
<form action="/user/new" method="POST">
    <label>ユーザ名: </label><input type="text" name="username" value="{{ .Username }}"required><br>
    <label>パスワード: </label><input type="password" name="password" value="{{ .Password }}" required><br>
    <label>パスワード確認: </label><input type="password" name="password_check" value="{{ .Password_check }}" required><br>
    <input type="submit" value="登録">
</form>
<p><a href="/">戻る</a></p>
{{ template "footer" }}
